/* main */
*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--black);
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

:root {
  --black: #2F2E2E;
  --white: #FAFAFA;
}

.section__title,
.title {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 51px;
}

/* header */
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 47px 0 90px 0;
}

.header__logo {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 42px;
  color: var(--black);
  text-decoration: none;
}

.header__menu {
  display: flex;
  gap: 100px;
}

.header__menu__item {
  list-style-type: none;
}

.header__menu__link {
  font-size: 20px;
  color: var(--black);
  text-decoration: none;
}

.header__bottom {
  position: relative;
}

.header__content {
  background-color: rgba(244, 246, 245, 0.9);
  width: 690px;
  height: 550px;
  padding: 138px 166px 139px 100px;
  position: absolute;
  top: 95px;
  z-index: 1;
}

.header__title {
  margin-bottom: 10px;
}

.header__descr {
  font-size: 32px;
  font-weight: 200;
}

.header__bg {
  position: relative;
  left: 290px;
  top: 5px;
}

/* /header */

/* services */
.services {
  background: rgba(37, 77, 77, 0.2);
  padding: 16px 0 65px;
}

.section__title {
  margin-bottom: 45px;
  text-align: center;
}

.services__inner {
  display: flex;
  justify-content: space-between;
}

.services__item {
  width: 33%;
  text-align: center;
}

.services__item__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.services__item__title {
  font-size: 27px;
  margin-bottom: 10px;
}

.services__item__descr {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 16px;
  width: 158px;
  margin: 0 auto;
}

/* about */
.about {
  padding: 76px 0 95px;
}

.about__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section__title_left {
  text-align: left;
  margin-bottom: 27px;
}

.about__descr {
  font-family: "Playfair Display", serif;
  font-size: 31px;
  width: 456px;
  margin-bottom: 36px;
}

.about__link {
  font-weight: 500;
  font-size: 24px;
  color: var(--black);
  text-decoration: none;
}

/* /about */